table, input, div, label, span, td, a {
	font-family:Trebuchet MS, Arial, Helvetica, Sans-Serif;
	font-size:11px;
}

h4 {
	font-style:italic;
	border-bottom:1px #ccc dotted;
	padding:5px 10px;
}

select {
	font-size:11px;
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	padding:2px;
}

input[type=file] { padding:3px; }
input[type=button], input[type=submit], input[type=reset] { font-family:Trebuchet MS, Arial, Helvetica, Sans-Serif; font-size:11px; }
input[type=button], input[type=submit], input[type=reset] { padding:2px 10px 2px 10px; }
input[type=text], input[type=password], textarea {
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	padding:3px;
}

input[type=text][disabled=disabled] {
	background-color:#f4f4f4;
	color:#0000ff;
}

.err_message, .message {
	border: 1px solid;
	margin: 10px 0px 10px 0px;
	padding:1px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-style:italic;
}

.message {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('images/success.png');
}

.err_message {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('images/error.png');
}

div.message-info { color:#999999; font-style:italic; }
.message-info { font-style:italic; text-transform:uppercase; font-weight:bold; }
.message-note { font-style:italic; font-weight:bold; }
.message-new { background-color:#d4eeaa; }
.message-jpu { background-color:#faf287; }